.drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    margin: 15px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
        margin-bottom: 20px;
    }

    &-button {
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid;

        &:hover {
            outline: 3px solid #6d6f70;
        }
    }

    & #lbl-foto {
        display: none;
    }

    &-image img {
        width: 150px;
        margin-top: 10px;
        vertical-align: middle;
    }

    @media screen and (min-width: 992px) {
        & {
            margin: 10px;
        }
    }

}